:root {
  --main-icon-size: 4rem;
  --main-logo-icon-size: 4rem;
  --main-logo-text-size: 4.5rem;
  --break-laptop-small: 1024px;
}

@mixin nooutline {
  &:active,
  &:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }
}

.icon {
  width: var(--main-icon-size);
  height: var(--main-icon-size);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #34495e;
  padding: 4rem;
  border-radius: 10px 10px 0 0;
  box-shadow: black 5px 0px 5px;
  &__logo {
    flex: 1 0 24%;
    position: relative;
    line-height: 1;
  }
  &__title {
    font-size: var(--main-logo-text-size);
    margin-bottom: 0rem;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
  }
  &--icon {
    transform: rotate(30deg);
    position: absolute;
    top: 0;
    left: 24rem;
    width: var(--main-logo-icon-size);
    height: var(--main-logo-icon-size);
    fill: white;
  }
  &__searchbar {
    display: flex;
    position: relative;
    flex: 0 1 50%;
    outline: none;
  }
  &__input {
    flex: 1 0 50%;
    border-radius: 6rem;
    border-width: 0px;
    padding-left: 3rem;

    @include nooutline;
  }
  &--btn {
    position: absolute;
    top: 0;
    right: 0;
    height: var(--main-logo-text-size);
    min-width: 30%;
    border-radius: 6rem;
    border-width: 0px;
    font-weight: bold;
    background-color: #c20000;
    color: white;
    transition: all 0.5s;
    @include nooutline;
    &:hover {
      cursor: pointer;
      background-color: #ff0000;
    }
  }
  &__favourites {
    display: none;
    flex: 0 1 10%;
    justify-content: center;
    align-items: center;
    fill: yellow;
    stroke: black;
  }
}

@media screen and (max-width: 1205px) {
  .header {
    padding: 1rem;
    &__title {
      font-size: calc(var(--main-logo-text-size) * 0.75);
    }
    &--icon {
      left: 20rem;
      width: calc(var(--main-logo-icon-size) * 0.75);
      height: calc(var(--main-logo-icon-size) * 0.75);
      fill: white;
    }
    &--btn {
      height: calc(var(--main-logo-text-size) * 0.75);
    }
  }
}
